#Node Modules
node_modules/

#Database Login
backend/dbconnector.js
!backend/__mocks__/dbconnector.js

#Environement Vars
.env

# Logs
npm-debug.log*

# Packages
package-lock.json

# Vite generated folders
frontend/dist